ARGOVIS_API_KEY = "argovis_api_key_here"
OPENAI_API_KEY = "openai_api_key_here"

# Database configuration
MONGODB_URI = "mongodb_connection_string_here"
DB_NAME = "db_name_here"
COLLECTION_NAME = "collection_name_here"